* {
    box-sizing: border-box;
}
    .content {
        width: 90%;
        margin: auto;
        background-color: white;
    }
.top{
    display: flex;
    flex-direction: row;
}
@media (min-width:320px) and (max-width:500px) {
    a {
        text-decoration: none;
    }
    img {
        width: 100%;
    }
    .temp-sum {
        width: 100%;
        margin: auto;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        padding-left: 0px;
    }
    ul li {
        width: 50%;
        font-size: 1.1em;
        text-align: center;
    }
    .high {
        font-size: 3em;
    }
    .low {
        font-size: 1.5em;
    }
    sup {
        font-size: 0.5em;
    }
    .summary {
        font-size: 1.5em;
    }
    .middle {
        width: 100%;
        margin: auto;
    }
    .icon {
        width: 60%;
        position: relative;
        left: 30px;
    }
    ul .main-icon {
        width: 80%;
    }
    ul img {
        margin-right: 3em;
    }
    nav {
        background-color: darkorange;
    }
    h1,
    h2,
    h3{
        color: red;
    }
    h1{
        font-size: 1.4em;
    }
    h3 {
        font-size: .8em;
        text-align: center;
    }
    #hourly {
        display: flex;
        visibility: collapse;
        overflow: scroll;
        width: 90%;
        justify-content: space-around;
    }
    #hourly .mid {
        visibility: visible;
        margin-right: -.9em;
        text-align: center;
        padding: .2em;
    }
    .wireframe {
        width: 30%;
    }
    .monogram{
        width: 30%;
        height: 30%;
    }
}

@media (min-width:500px) and (max-width:800px) {
    a {
        text-decoration: none;
    }
    img {
        width: 100%;
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3.5em;
        width: 50%;
        border-top: solid;
        border-bottom: solid;
        background-color: chartreuse;
    }
    .temp-sum {
        width: 100%;
        margin: auto;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    ul li {
        width: 50%;
        font-size: 1.4em;
        text-align: center;
        margin-right: 5px;
    }
    nav li {
        border-left: solid;
        margin-right: 20px;
    }
    nav {
        background-color: darkorange;
        font-size: 1.4em;
        height: 3.5em;
        border: solid;
        justify-content: space-between;
    }
    .high {
        font-size: 5em;
    }
    .low {
        font-size: 4em;
    }
    sup {
        font-size: .5em;
    }
    .summary {
        font-size: 2em;
    }
    .middle {
        width: 80%;
        margin: auto;
        font-size: 2em;
        border-bottom: solid;
        border-top: solid;
        background-color: aquamarine;
    }
    .icon {
        width: 50%;
        position: relative;
        left: 30px;
    }
    ul .main-icon {
        width: 80%;
    }
    ul img {}
    h1,
    h2,
    h3 {
        color: red;
    }
    h3{
        text-align: center;
    }
    ol {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        overflow: scroll;
    }
    ol li {
        visibility: collapse;
    }
    #hourly .mid {
        visibility: visible;
        text-align: center;
        padding: .2em;
    }
    .monogram {
        width: 40%;
        height: 40%;
        padding: 5px;
        margin-right: 15px;
    }
}
@media (min-width:800px) {
    a {
        text-decoration: none;
    }
    .temp-sum {
        width: 90%;
        margin: 1em;
    }
    .temp-sum li {
        margin-right: 6em;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    ul li {
        width: 35%;
        font-size: 1.2em;
        text-align: center;
    }
    nav {
        background-color: darkorange;
        font-size: 1.4em;
        height: 2.5em;
        border: solid;
        margin-top: 20px;
        width: 80%;
        justify-content: space-between;
    }
    nav li {
        border-left: solid;
        margin-right: 5px;
        margin-top: -20px;
    }
    .high {
        font-size: 4em;
    }
    .low {
        font-size: 3em;
    }
    sup {
        font-size: .5em;
    }
    .summary {
        font-size: 2.5em;
    }
    .middle {
        width: 90%;
        margin: auto;
        font-size: 1.2em;
        text-align: center;
        border-bottom: solid;
        border-top: solid;
        background-color: aquamarine;
    }
    .middle ul li {
        margin-right: 3em;
    }
    .middle img {
        margin-right: 2.5em;
    }
    .icon {
        width: 40%;
        position: relative;
        left: 30px;
    }
    ul .main-icon {
        width: 60%;
    }
    h1,
    h2,
    h3 {
        color: red;
        margin-bottom: -20px;
        margin-left: 10px;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
        width: 30%;
     border-top: solid;
        border-bottom: solid;
        background-color: chartreuse;
    }
    h3 {
        font-size: 1.5em;
    }
    ol {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    ol li {
        margin: 1em;
    }
    #hourly {
        font-size: .8em;
        text-align: center;
        padding: .5em;
        border-bottom: solid;
        width: 100%;
        overflow: scroll;
    }
    .wireframe {
        width: 30%;
    }
    .monogram {
        width: 20%;
        height: 20%;
        max-width: 180px;
        padding: 5px;
        margin-right: 15px;
    }
}
a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none
}

a:hover {
    color: red;
    background-color: blue;
    text-decoration: underline
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline
}
.wireframe {
    width: 30%;
}
<<<<<<< HEAD
#column{
    flex-direction: column;
}
=======
>>>>>>> origin/master
