*{
    box-sizing: border-box;
}

*:before,
*:after{
    box-sizing: border-box;
}
body{background-color: red;
margin: 0;
padding: 0;
font-size: 18px;
font-size: 1em;
font-family: arial, "arial thin", sans-serif;
}

#wrapper{
    background-color: white;
    width: 100%;
}
#hi-lo{
    list-style: none;

}
#hi-lo>li{
        display: inline-block;
    width: 25%;
}
#hi-lo #conditions{
    width: 50%;
}
