<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Springfield, IL | Weather Center</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/weather-style.css" media="screen">
  </head>

  <body>
    <div id="wrapper">
      <header id="page-header">
        <h1>Weather Center</h1>
        <h2 class="tagline">Know your weather</h2>
      </header>
      <nav id="page-nav">
        <ul class="flexlist">
          <li><a href="../" title="Weather Center Home">Home</a></li>
          <li><a href="franklin.html" title="Weather in Franklin, ID">Franklin</a></li>
          <li><a href="greenville.html" title="Weather in Greenville, SC">Greenville</a></li>
          <li><a href="springfield.html" title="Weather in Springfield, IL">Springfield</a></li>
        </ul>
      </nav>
      <main id="page-main">
        <section class="weather-container">
          <h1 id="cityDisplay">Springfield, IL</h1>
          <p>Sorry, the Weather Center requires JavaScript to function.</p>
        </section>
      </main>
      <footer id="page-footer">
        <ul class="flexlist">
          <li>Weather Center 2010 - 2016</li>
          <li><img src="../images/wulogo_rev.png" alt="Weatherunderground logo" title="All weather data provided by WeatherUnderground.com"></li>
          <li><small>Last updated: </small></li>
        </ul>
      </footer>
    </div>
  </body>

</html>
